*{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
}

.fluid-container{
    padding: 40px;
}
.header-content{
    display: flex;
}
.header-content a{
    color: #000000;
    margin-right: 18px;
    text-decoration: none;
}
.container-header{
    overflow: auto;
}


.btn-add{
    width: 100%;

}
.btn.btn-lg{
    float: right;
    width: 75px;
    height: 35px;
    background-color: #5A5278;
    color: #FFFFFF;
    border: none;
    margin-right: 40px;
}
.container{
    background: rgba(217, 217, 217, 0.5);
    padding: 5px;
}
.table{
    background-color: #FFFFFF;
    border-radius: 5px;
}
.show{
    margin-right: 10px;
}

.tab-hosonv , .tab-bangcap{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.tab-hosonv.active , .tab-bangcap.active{
    border-bottom: 1px solid #5A5278;
}
.table{
    margin-top: 20px;
}
.header-content{
    padding: 14px 19px;
}
    
.table thead tr td {
    font-weight: 500;
    margin-bottom: 8px;
}

.table thead tr{
    padding: 20px 20px !important;
}


/* FORM */

.modal-dialog{
    width: 620px;
}


.modal-body label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
}


.modal-body label[for='tenBC']{
    font-size: 42px;
    font-weight: 300;


}


button[data-bs-dismiss='modal']{
    background-color: #CEDD7A !important;
}
.modal-body textarea{
    height: 137px;
    
    background: rgba(90, 82, 120, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-body input[type='date']{
    width: 100%;
}

.modal-footer button{
    margin-right: 10px !important;
}

.modal-body .bottom-info{
    display: flex;
    gap: 20px    
}
.modal-body .bottom-info .info{
    width: 100%;
}

.modal-body .bottom-info input,select,option, button{
    font-size: 16px !important;
}


textarea.form-control{
    font-size: 16px;
}