.main_page {
    /* float: right; */
    background-color: #dcdcdc;
    height: 100vh;
    flex: 1 1 auto;
    /* position: relative; */
}

.container {
    width: 106rem;
    margin-left: 7rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem;
    background-color: white;
    border-radius: 5px;
}
.container_list_item {
    background-color: #39374e;
    width: 28rem;
    margin: 1rem 2rem;
    width: calc(33.33% - 4rem);
}
.container_list_item .link_list_item {
    color: #e8e9ec;
    font-size: 1.8rem;
    display: block;
    width: 100%;
    height: 14rem;
    border-radius: 5px;
    position: relative;
}

.container_list_item .link_list_item i {
    font-size: 7rem;
    position: absolute;
    left: 39%;
    top: 18%;
    text-align: center;
    display: inline-block;
}
.container_list_item .link_list_item span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.8rem;
    padding: 1rem 0;
    display: block;
    width: 100%;
    text-align: center;
    display: block;
}
