.main_page {
    /* float: right; */
    background-color: #dcdcdc;
    height: 100vh;
    /* left: 24rem;
    position: fixed;
    top: 5rem; */
    width: calc(100% -24rem);
}
.fluid-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.add-function button {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #5a5278;
}
.container {
    max-width: 160rem;
    min-height: 70rem;
    background: #ffffff;
    border-radius: 5px;
    margin: 0;
    justify-items: center;
    align-self: center;
}
.heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 4.4rem;

    line-height: 3.8rem;
    color: #000000;
    padding: 2rem;
    text-align: center;
}
.add-function {
    background: #d9d9d9;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 3rem;
    padding: 0.5rem;
}
.navigation {
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    color: #000000;
    cursor: default;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}
.add-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.6rem;
}
.add-btn:hover {
    color: #ffffff;
}
.add-function {
    background: #c6c6c6;
    display: flex;
    margin: 3rem;
    gap: 1rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 15px;
    color: black;
    justify-items: center;
    /* align-self: center; */
}
.add-function p {
    margin-bottom: 0 !important;
}

td {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.4rem;
    color: #000000;
    text-align: center;
}
th {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.6rem;
}
.edit {
    font-size: 2rem;
    color: #5a5278;
    cursor: pointer;
}
.muti-btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
