.title {
    padding: 1rem 0;
    border-bottom: 2px solid black;
}
.title p {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.9rem;
    display: flex;
    align-items: center;
    color: #348cce;
}
.container {
    gap: 3rem;
}
