.container {
    /* width: 125rem; */
    margin: 2rem 0.5rem 2rem 0.5rem;
    min-height: 80%;
    background: #ffffff;
    border-radius: 5px;
    height: 70vh;
    padding: 1rem;
}
.fluid-container {
    margin: 1rem;
}
.heading-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.search-btn i {
    font-size: 1.4rem;
    color: white;
    align-self: center;
    justify-self: center;
}
.search-btn {
    width: 2.8rem;
    height: 2.8rem;
    background-color: #5a5278;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3rem;
}
.input-search {
    width: 279px;
    height: 31px;
    margin: 0;
}
.search {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.heading-primary {
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
    color: black;
    text-align: center;
}
th {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 130%;
    /* identical to box height, or 16px */
    text-align: center;
    color: #000000;
}
td {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #000000;
}
.Employee-custom-table {
    display: flex;
    gap: 3rem;
    /* justify-content: space-around; */
}
.Employee-custom-table div {
    margin-left: 1rem;
}
