.danhgia_ds{
    padding: 20px 10px;
}
.danhgia_main_container{
    width: 100%;
    padding: 15px;
    overflow: auto;
    padding-left: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.danhgia_title{
    margin-top: 2rem;
    display: flex;
    line-height: 27px;
    background-color: #dcdcdc;
    align-items: center;
    justify-content: space-between;
}
.danhgia_add_btn{
    background-color: #39374E;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    font-size: 1.5rem;
    text-align: center;
    color: #c6cfda;
}
.title_danhgia{
    color: #212529;
    font-size: 3rem;
    text-align: center;
}

.danhgia_title h5{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
}
.danhgia_main_page{
    background-color: rgba(237, 237, 237, 0.87);
}

.tilte_main{
    text-align: center;
    color: #000000B2;
}

.table{
    width: 103rem;
    margin: 0 auto;
}
.icon_color{
    color: #39374E;
}
td{
    font-size: 1.4rem;
    color: #000000B2;
}
th{
    font-size: 1.4rem;
    color: #212529;
    font-weight: 300;
}
.input_search{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 1rem;
    gap: 1rem;
}
.form_input{
    width: 20rem;
    height: 3rem;
    border-radius: 3px ;
    border: 1px solid #39374E;
}
.search_btn{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #39374E;
}

.icon_color{
    color: #39374E;
}
td{
    font-size: 1.4rem;
    color: #333;

}
th{
    font-size: 1.4rem;
    color: #333;
}
.form_input{
    width: 28rem;
    height: 3rem;
    padding: 0 10px;
    border-radius: 1px #39374E;
}
.search_btn{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #39374E;
}

/* form thêm đánh giá */
.danhgia_add{
    padding: 15px;
}
.head_add_danhgia_main {
    margin-left: 1rem;
    margin-top: 2rem;
    background-color: #dcdcdc;
}
.head_add_danhgia_main span{
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 1);
}
.title_danhgia_add{
    font-size: 1.4rem;
    color: #848484;
}
.title_add_danhgia{
    font-size: 1.4rem;
    display: inline-block;
    color: rgba(0, 0, 0, 1);
}
.form_list_danhgia{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 2rem;
}

.form_list_item_danhgia{
    margin-top: 2rem;
}
.form_add_danhgia{
    margin: 2rem 4rem 0 2rem;
}
.form_title_danhgia{
    color: black;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}
.form_input_add_danhgia{
    width: 35rem;
    font-size: 1.3rem;
    background-color: #fff;
    border: none;
    height: 3rem;
}
.bottom_add_danhgia{
    /* display: flex; */
    float: right;
    margin: 1rem 6rem;
}

.bottom_exit_danhgia .danhgia_submit{
    color: #fff;
    width: 70px;
    height: 37px;
    border: none;
    text-align: center;
    line-height: 37px;
    background-color: #39374E;
    font-size: 1.4rem;
}