.danhgia_container{
     padding: 60px;
}


.danhgia_main_container{
     background: #FFFFFF;
     border: 1px solid #000000;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
     width: 100%;
     padding: 16px 32px;
}


.danhgia_main_container  .h5{
     margin-top: 16px;
     width: 100%;

     text-align: center;
     font-weight: 700;
     font-size: 32px;
     padding-bottom: 4px;
     color: #5A5278;
}

.table-nghiphep thead th{
     font-weight: 600;
     font-size: 16px;
}


.table-nghiphep tbody td{
     font-weight: 400;
     font-size: 16px;
}



