.user_detail_container{
     padding : 40px;
}

.img_container{
     background: #FFFFFF;
     border: 1px solid #000000;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 12px;

     padding: 28px;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     justify-content: center;
     align-items: center;
     margin-bottom: 28px;
}

.img_container .use_name{
     font-weight: 400;
     font-size: 16px;
}

.img_container img{

     width: 100px;
     height: 100px;
     border-radius: 50%;
}

.user_detail.tab_holder{
     border-bottom: 1px solid black;
     width: 100%;
     margin-bottom: 8px;
}

.user_detail.tab_holder span{
     display: inline-block;
     font-weight: 400;
     font-size: 16px;
     line-height: 25px;
     margin: 6px 12px;
     cursor: pointer;
}

.user_detail_tab{
     border: 1px solid #000000;
     background: #FFFFFF;
     border-radius: 4px;
     width: 100%;
     padding: 20px;


}



.d-flex .title_input{
     font-weight: 600;
     font-size: 16px;
     line-height: 19px;
     margin-bottom: 8px;
     color: #000000;

}
.d-flex.row_4{
     gap: 20px;
}

.row_4 .row_item{
     width: 25%;
}

.d-flex.row_3{
     gap: 40px;
}

.row_3 .row_item{
     width: 30%;
}


.d-flex .input{
     margin-top: 4px;
     height: 36px;
     border: 1px solid rgba(0, 0, 0, 0.6);
     border-radius: 4px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-left: 8px;

     font-weight: 400;
     font-size: 16px;
}

.user_detail_tab .d-flex{
     margin-bottom: 16px;
}


.tab_1.active{
     border-top: 2px solid blue;
}


.tab_2.active{
     border-top: 2px solid blue;
}


.user_detail_tab{
     display: none
}
.user_detail_tab.show{
     display: block;
}

.table th{
     font-size: Inter;
     Font-style: Semi Bold;
     Font-size: 16px;
     text-align: center;
}

.table tr td{
     text-align: center;
     font-size: 16px;
}
.table .tbc{
     text-align: left;
}