.nghiphep_container{
     padding: 60px;

}


.nghiphep_main_container{
     background: #FFFFFF;
     border: 1px solid #000000;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
     width: 100%;
     padding: 16px 32px;
}

.fullrow{
     display: flex;
     justify-content: center;
     margin : 20px 0px;
}

.fullrow .bi{
     font-size: 4.2rem;
     margin : 0px 10px;
}
.fullrow .month-nav{
     font-size: 4.2rem;
     font-weight: 600;
     color: #348CCE;
}
.nghiphep_main_container  .h5{
     font-weight: 600;
     font-size: 24px;
     padding-bottom: 4px;
     border-bottom: 0.3px solid black;

     color: #348CCE;
}

.table-nghiphep thead th{
     font-weight: 600;
     font-size: 16px;
}


.table-nghiphep tbody td{
     font-weight: 400;
     font-size: 16px;
}


.info-row{
     justify-content: space-between;
}
.info-remainday{
     font-size : 20px;
     font-weight: 500;
     color: black;
}
.info-remainday span{
     font-size: 24px;
     color: #348CCE;

}

.send-req{
     font-size : 20px;
     font-weight: 400;
     padding: 4px 8px;
     /* color: black;  */
}

.modal-body{
     font-size: 16px !important;
}


.modal-body input,option,select,form-select{
     font-size: 16px;
}

.modal-body select,button{

     font-size: 16px !important;
}

.modal-body button{
     font-size: 16px !important;
}